### Fichier preseed pour une installation automatisée de Debian ###

# Configuration de la langue et de la disposition du clavier
d-i debian-installer/locale string fr_FR.UTF-8
d-i console-keymaps-at/keymap select fr
d-i keyboard-configuration/xkb-keymap select fr

# Configuration du nom de la machine (hostname)
d-i netcfg/get_hostname string debian-machine

# Configuration du nom de domaine
d-i netcfg/get_domain string local

# Définir le mot de passe root (utiliser un mot de passe pré-haché pour plus de sécurité)
d-i passwd/root-password-crypted password [hashed_root_password]

# Création des comptes utilisateurs avec des mots de passe pré-hachés
# Utilisateur 1
d-i passwd/user-fullname string User One
d-i passwd/username string user1
d-i passwd/user-password-crypted password [hashed_user1_password]
# Utilisateur 2
d-i passwd/user-fullname string User Two
d-i passwd/username string user2
d-i passwd/user-password-crypted password [hashed_user2_password]

# Configuration du fuseau horaire
d-i time/zone string Europe/Paris

# Partitionnement
# Utilisation automatique du disque sans confirmation
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Installation minimale sans interface graphique
# Empêche l'installation d'un environnement de bureau
tasksel tasksel/first multiselect standard

d-i pkgsel/include string openssh-server htop

# Désactiver les mises à jour automatiques
d-i pkgsel/update-policy select none

# Installation automatique de GRUB sur le disque principal
# Empêche la demande de confirmation pour l'installation de GRUB
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

# Configuration finale et nettoyage
# Ajouter un script pour configurer des paramètres personnalisés après l'installation
d-i preseed/late_command string \
  echo 'user1:$(openssl passwd -6 user1)' | chpasswd -e ; \
  echo 'user2:$(openssl passwd -6 user2)' | chpasswd -e ; \
  mkdir -p /target/home && echo 'Hello World' > /target/home/helloworld.txt ; \
  echo "alias l='ls -la'" >> /target/etc/profile.d/custom_aliases.sh ; chmod +x /target/etc/profile.d/custom_aliases.sh ; \
  echo 'PS1="\u@\$(hostname -I | awk '{print $1}'):\w\$ "' >> /target/etc/profile.d/custom_prompt.sh ; chmod +x /target/etc/profile.d/custom_prompt.sh

# Redémarrage après la fin de l'installation
# Répondre automatiquement "oui" au redémarrage
d-i finish-install/reboot_in_progress note
reboot
