### Fichier preseed pour une installation automatisée de Debian ###

# Configuration de la langue et de la disposition du clavier
d-i debian-installer/locale string fr_FR.UTF-8
#d-i console-keymaps-at/keymap select fr
d-i keyboard-configuration/xkb-keymap select fr(latin9)

# Configuration du nom de la machine (hostname)
d-i netcfg/get_hostname string debian-machine

# Configuration du nom de domaine
d-i netcfg/get_domain string local

# Définir le mot de passe root (utiliser un mot de passe pré-haché pour plus de sécurité)
d-i passwd/root-password-crypted password $6$4.w3CuFdOrQ60NdM$qJpntgGsj9bIcHVsoLZ9LjkMVtmm8LnOjwAQyeobnCnBPDDGRSz/IiMCbubGzexJrTsHQWoNPYkWY12/r6S6V.

# Création des comptes utilisateurs avec des mots de passe pré-hachés
# Utilisateur 1
d-i passwd/user-fullname string User1
d-i passwd/username string user1
d-i passwd/user-password-crypted password $6$jlxlTziQ2z4X0i.V$BROL4TFx2CiJMH59vOdb2ckMHQbo2/nFw32v4ib7e.YOimu8jSKF9nyCTpCYRo9zE2DXpqE//3aU9LrY6rveF.
# Utilisateur 2
# d-i passwd/user-fullname string User2
# d-i passwd/username string user2
# d-i passwd/user-password-crypted password $6$Jpl0CE/K.9nKUy85$a4ypCPjrBu9FsTskrnuWELiigHcDLJcLhJR6Aa2yBTayyTL7qplmbxiPbwzOArvAVw1YHkdHBtUnuM0IQnLxy/

# Configuration du fuseau horaire
d-i time/zone string Europe/Paris

# Partitionnement
# Utilisation automatique du disque sans confirmation
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Installation minimale sans interface graphique
# Empêche l'installation d'un environnement de bureau
tasksel tasksel/first multiselect standard

d-i pkgsel/include string openssh-server htop apt-transport-https

# Désactiver les mises à jour automatiques
d-i pkgsel/update-policy select none

# Installation automatique de GRUB sur le disque principal
# Empêche la demande de confirmation pour l'installation de GRUB
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

# Configuration finale et nettoyage
# Ajouter un script pour configurer des paramètres personnalisés après l'installation
#d-i preseed/late_command string                                                                                                                                       \
#  in-target useradd -m -s /bin/bash -p "$6$Jpl0CE/K.9nKUy85$a4ypCPjrBu9FsTskrnuWELiigHcDLJcLhJR6Aa2yBTayyTL7qplmbxiPbwzOArvAVw1YHkdHBtUnuM0IQnLxy/" "user2" ;         \
#  in-target bash -c 'echo "Hello World" > /home/helloworld.txt' ;                                                                                                     \
#  in-target bash -c 'echo "alias l=\'ls -la\'" > /etc/profile.d/custom_aliases.sh' ;                                                                                  \
#  in-target chmod +x /etc/profile.d/custom_aliases.sh ;                                                                                                               \
#  in-target bash -c 'echo "PS1=\'\\\\u@\\\\$(hostname -I | cut -d\\\" \\\" -f1):\\\\w\\\\$ \'" > /etc/profile.d/custom_prompt.sh' ;                                   \
#  in-target chmod +x /etc/profile.d/custom_prompt.sh

# Redémarrage après la fin de l'installation
d-i finish-install/reboot_in_progress note
                  
